$white: hsl(0, 0%, 96%);

html{
    background-image: url(./img/overlay.png), url(../image/bg.jpg);
    background-size: 25%, cover;
    background-repeat: repeat;
    padding: 75px 0% 25px 0%;
    
    // margin:20px;
    // margin: 20px 20px 20px 20px;
    // margin:20px 30px;
    // margin-top: 20px;
    // margin-right: 20px;
}
body{
    width: 80vw;
    border-radius:10px 10px 0px 0px;
    background-color: $white;
    margin: 0 auto;
}
ul{
    display: flex;
    padding: 25px;
    margin: 0;
    list-style: none;
    justify-content: space-between;   
}
header{
    height: 600px;
    background-image: linear-gradient(to top, hsla(286, 94%, 34%, .5), hsla(305, 88%, 60%, .5)), url(../image/pic01.jpg);
    background-size: cover;
    background-position: left 68px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: auto;
}
div{
    background-color: orangered;
    width: 50vw;
    text-align: center;
    padding: 50px;

}
h1{
    font-size: 48px;
}
p{
    font-size: 20px;
}
a{
    display: inline-block;
    border: 2px solid white;
    padding: 15px;
    border-radius: 4px;
}