html{
    background-color: midnightblue;
}
main{
    background-color: blue;
    height:50vh;
    position: relative;
}
.img1{
    position: absolute;
    right:0;
    bottom: 0;
}
.img2{
    position: absolute;
    left:0;
    bottom:0;
    z-index: 5;
}
.img3{
    position: absolute;
    left: 0;
    top:0;
}
.img4{
    position: absolute;
    right:0;
    top:0;
}
div{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 2;
    background-color:transparentize(green, .5);
}