$ignite: hsl(191, 58%, 42%);
$classic: hsl(11,58%,42%);
$black: hsl(204,6%,17%);
$white: hsl(0,0%,96%);
html{
    background-color: midnightblue;
}
header{
    display:flex;
    overflow:hidden;
    background-color: $black;
    position: relative;
    height: 200px;

}
body{
    margin:0;
    font-family: 'Exo 2', sans-serif;
    color: $white;
}
.skew{
    width: 50vw;
    transform-origin: left bottom;
    transform: skew(-45deg);  
}
.ignite{
    background-color: $ignite;

}
.classic{
    background-color: $classic;
    background-repeat: repeat-y;
    background-size: 100px;
    background-image: url('../images/classic-ribbon.svg');
}
.text{
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
}
.logo{
    flex:none;
    width:200px;
    height:100%;
    img {
        width:50%;
    }
}
.marquee{
margin-left: -75px;
display:flex;
align-items: center;
    h1{
        text-shadow:15px 10px 0 transparentize($color: #000000, $amount: .5);
    }
}
@media print{
    header{
        height: 500px;
        font-size:300px;
    }
    .skew{
        display: none;
    }
}
@media screen and (orientation: portrait){
    .ignite{
        background-color: red;
    }
    .classic{
        background-color: blue;
    }
}


@media screen and (max width: 450px){
    h1{
        font-size:150%;
    }
}
@media screen and (min-width:672px)and (max-width: 700px){
    h1{
        font-size: 75%;
        color:yellow;
    }
}