body{
    background-color: lightgreen;
    margin:0;
}
nav{
    // margin:5px;
    background-color:midnightblue;
    padding:5px;
    // display: inline-table;
    &.active {
    color: black;
    // display: block;
    // padding: 12px;
    text-decoration: none;
    // display:flex;
    // list-style-type: none;
    // margin: 0;
    // padding: 0;
    }
    li{
        // font-size: 25px;
        
        background-color:white;
        display:inline-block;
        padding: 15px 40px;
        border-radius: 10px;
        margin:5px auto;
        font-size:inherit;
        &:hover{
            background-color: lightgray;
            border:2px solid red;
            // cursor: pointer;
        }
    }
    a{
        color:blue;
        font-size: 25px;
    }

}
#btn3{
    // list-style-type: none;
    // margin: 0;
    // padding: 0;
    // &.active{
    //     display:flex;
    //     list-style-type: none;
    //     margin: 0;
    //     padding: 0;        
    // }
}
main{
    background-color: lightblue;
    padding:25px 25px;
    margin:25px 25px;

}
button{
    border: 1px solid darker(midnightblue, 10);
    border-radius: 4px;
    padding: 10px;
    font-size: inherit;
}