html{
    color:white;
    background-color:midnightblue;
}

ul{
    padding: 0;
    margin:0;
    list-style: none;
}
a{
    color: white;
    
}
//  ">" immediate child of
body > ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & > li{
        width: 30%;
        border: 2px solid rgba(117, 117, 250, 0.808);
        padding: 10px;
        margin:20px;
        border-radius: 4px;
        background-color: rgb(53, 53, 138);
    }
    img{
        width: 100%;
    }
    h3{
        font-family: sans-serif;
    }
}
// body > ul > li {

// }