@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");
header{
    margin:0;
    padding:0;
}
nav{
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    color: white;
    border-bottom: 2px solid rgba(blue, 0.9);
}
a{
    color:white;
}
a:hover{
    background-color: rgba(rgb(255, 255, 0), 0.6); 
    border-radius: 10%;
    // padding: 1px 4px;
    // margin: 0;
    font-style: italic;
    transition: background-color 400ms;
}
ul{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: flex-end;
    text-decoration-line: underline;
}
#current{
    color: yellow;
    font-style: italic;
    text-decoration-line: underline;
    
}
li{
    font-size: 20px;
    font-weight: bold;
    padding: 15px 50px;
    margin: 0px 20px;
    // border: 1px solid blue;
    list-style: none;
}
body{
    margin:0;
    padding: 0;
    width: 100%;
    // background-color: gray;
    background-image: url("../img/700.jpg");
}
main{
    padding: 0em;
    margin: 4em;
    border: 3px solid blue;
    width: 60%;
    height: 50%;
    text-shadow: 2px 2px 2px rgba(yellow, 0.4);
    // background-color: whitesmo;
    background-color: rgba(midnightblue, 0.8);
    color:rgba(245, 245, 245, 0.74);
    font-weight: bold;
    // color:white;
    font-size: 50px;
    div{
        color: rgba(255, 255, 255, 0.801);
        text-shadow: 2px 2px 2x rgba(green, 0.4);
        span{
            color:red;
            font-style: italic;
        }
    }
}