html{
    background-color:midnightblue;
    color: white;
}
ul{
    display:flex;
    text-align: center;
    list-style: none;
    .box{
        height: 30px;
        width:30px;
    }
    li{
        padding:10px;
        font-size: 25px;
    }
}
h2{
    float: right;
}